*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
  }
  html,body{
    height: 100%;
    width: 100%;
  }
  .main{
    height: 100%;
    width: 100%;
    position: relative;
  }
 .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
}
 .logo{
  font-size: 2rem;
  justify-content: center;
  padding: 0 4vw;
 }
 .logo h1{
  font-size: 4vw;
  font-weight: 700;
 }

 .nav{
  box-shadow: 3px 3px 5px rgba(0, 0, 0,0.1);
 }  
nav ul{
  width: 100%;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
nav a{
 padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 16px;
  margin:20px;
  font-size:1.5rem;
  font-weight:600;
 }
 nav a:hover{
  background-color: #FF735C;
 }
 .menu{
  border-radius: 40px;
 }

/* sizebar */
 .sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.468);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 }
 .side{
  /* padding: 10px 20px; */
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 16px;

 }
 .sidebar li,a{
  width: 100%;
  }
.menu{
  display: none;
}

/* main */
 .content{
   height: calc(100% - 100px); 
  /*100% - header height */
  width: 100%;
  display: flex;
  position: relative;
 }
 .left{
  height: 100%;
  width: 55%;
  padding: 4vw 6vw;
 }
 .left h1{
  font-size:4vw;
  line-height: 4.4vw;
 }
 .left h1 span{
  color: #FF735C;
 }
 .left p{
  font-size: 1.2vw;
  font-weight: 600;
  width: 80%;
  margin-top: 3vw;
  margin-bottom: 3vw;
 }
 .right{
  height: 100%;
  width: 45%;
 }
 .right img {
  height: 100%;
  width: 100%;
 }
 button{
  font-size: 1.5vw;
  padding: 1vw 2vw;
  background-color: #FF735C;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 400;
 }

 /* ----Media Quaries---- */

 @media (max-width:600px){
  .header{
    padding: 0 6vw;
    height: 60px;
    }
  .logo h1{
    font-size: 6vw;
  }
.homemenu{
  display: none;
}
.menu{
  display: block;
}
  .content{
    height: calc(100% - -60);
    flex-direction: column; /* to make right and left box in one row*/
  }
  .left{
    width: 100%;
    height: 50%;
  }
  .right{
    width: 100%;
    height: 50%;
  }
  .left h1{
    font-size: 9vw;
    line-height: 11vw;
  }
  .left p{
    font-size: 4vw;
    width: 100%;
  }
  .content button{
    padding: 3vw 6vw;
    border-radius: 2px;
    font-size: 3vw;
    font-weight: 600;
  }
 }